@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .block1 {
    @apply flex items-center justify-center h-screen bg-red-600;
  }

  #pfp {
    @apply sticky top-1/2 left-1/2 w-1/2 h-1/2 m-10;
  }

  .sideblock1 {
    @apply sticky top-1/2 w-1/2 h-full text-5xl font-bold text-white opacity-25;
  }

  .sideblock {
    @apply sticky top-1/2 w-1/4 h-1/6 bg-black text-white font-bold text-lg;
  }

  .block2 {
    @apply h-screen;
  }

  .ht {
    @apply m-0 text-5xl font-bold text-white ml-10;
  }

  h2 {
    @apply text-center m-8 text-lg;
  }

  h1 {
    @apply m-0 text-center;
  }

  .dashed-divider {
    @apply border-t-2 border-dashed border-gray-300 my-8;
  }

  .buttonparent {
    @apply fixed bottom-16 inset-x-0 w-full flex justify-center;
  }

  button {
    @apply w-64 h-16 bg-gray-900 text-white rounded-full fixed left-1/2 transform -translate-x-1/2 shadow-none;
  }

  .click-animation {
    @apply animate-ping;
  }

  .container {
    @apply grid grid-cols-2 grid-flow-row gap-4 overflow-y-visible m-24;
  }

  .item {
    @apply rounded-full bg-gray-300 flex items-center justify-center text-center;
  }

  .item:nth-child(odd) {
    @apply col-span-1;
  }

  .item:nth-child(even) {
    @apply col-span-1;
  }

  .item:nth-child(1),
  .item:nth-child(4),
  .item:nth-child(5),
  .item:nth-child(8),
  .item:nth-child(9),
  .item:nth-child(12),
  .item:nth-child(13),
  .item:nth-child(17),
  .item:nth-child(19) {
    @apply row-span-2 h-2/3 w-1/2;
  }

  .item:nth-child(2),
  .item:nth-child(3),
  .item:nth-child(6),
  .item:nth-child(7),
  .item:nth-child(10),
  .item:nth-child(11),
  .item:nth-child(14),
  .item:nth-child(15),
  .item:nth-child(16),
  .item:nth-child(18),
  .item:nth-child(20) {
    @apply h-96 w-96 p-4 text-gray-600;
  }

  .item:nth-child(1),
  .item:nth-child(4),
  .item:nth-child(5),
  .item:nth-child(8),
  .item:nth-child(9),
  .item:nth-child(12),
  .item:nth-child(13),
  .item:nth-child(17),
  .item:nth-child(19) {
    @apply h-2/3 w-1/2 p-4 text-gray-600;
  }
}
